{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "flow-runtime",
      {
        "assert": true,
        "annotate": true
      }
    ],
    "espower"
  ]
}
